<!-- top fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid">
  <div class="navbar-header">
    <!-- navigation toggle button -->
    <button class="navbar-toggle collapsed" aria-control="navbar" aria-expanded="false" data-target="#navbar"
      data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- navbar branding icon -->
    <a class="navbar-brand branding" href="#">
      Rosterra
    </a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href ng-click="setPage('dash')">Dashboard</a></li>
      <li><a href ng-click="setPage('settings')">Settings</a></li>
      <li><a href ng-click="setPage('profile')">Profile</a>
      </li>
      <li><a href ng-click="setPage('help')">Help</a></li>
    </ul>
  </div>
</div>
</nav>
