<div class="container">
  <!-- text from http://www.malevole.com/mv/misc/text/ -->
  <div class="row">
    <h1>Ten years ago a crack commando unit was sent to prison by a military
      court for a crime they didn't commit.</h1>
    <div class="col-sm-4">
      <img class="img-responsive img-circle center-block bottom-spacer-20px" src="http://lorempixel.com/100/100/city/1" />
      <div class="row">
        <p class="text-justify">  These men promptly escaped from a
        maximum security stockade to the Los Angeles underground.
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <img class="img-responsive img-circle center-block bottom-spacer-20px" src="http://lorempixel.com/100/100/city/2" />
      <p class="text-justify">
      Today, still wanted
      by the government, they survive as soldiers of fortune.
      </p>
    </div>
    <div class="col-sm-4">
      <img class="img-responsive img-circle center-block bottom-spacer-20px" src="http://lorempixel.com/100/100/city/3" />
      <p class="text-justify">
      If you have a problem
      and no one else can help, and if you can find them, maybe you can hire the
      A-team.
      </p>
    </div>
  </div>
</div>
