<dashboard-nav-top></dashboard-nav-top>
<div class="container-fluid">
  <div class="row">
    <dashboard-sidebar></dashboard-sidebar>
    <!-- Main panel -->
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>
      <!-- put calendar here -->
      <div ng-if="view == 'overview'">
        <dashboard-calendar></dashboard-calendar>
      </div>
      <div ng-if="view == 'reports'">
        <h1 class="page-header">Reports</h1>
        <dashboard-report></dashboard-report>
      </div>
    </div>
  </div>
  <!-- main panel -->
</div>

