<!-- <nav class="navbar navbar-default navbar-static-top">
<div class="container">
  <div class="navbar-header">
    <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"> </span>
      <span class="icon-bar"> </span>
      <span class="icon-bar"> </span>
    </button>
    <a class="navbar-brand" href="#"><span class="branding">Rosterra</span></a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul ng-controller="AuthCtrl" class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li ng-if="isLoggedIn()"><a href ng-click="logout()">Sign out</a></li>
      <li ng-if="!isLoggedIn()"><a href ng-click="openModal()">Sign in</a></li>
    </ul>
  </div>
</div>
</nav>-->
<main-nav-top></main-nav-top>
<div class="jumbotron">
  <h1 class="branding">Rosterra</h1>
  <p class="lead">
  </p>
  <!--<h1>'Allo, 'Allo!</h1>
  <p class="lead">
  <img src="images/yeoman.png" alt="I'm Yeoman"><br>
  Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
  -->
</div>
<footer class="footer">
<div class="container">
  <p><span class="glyphicon glyphicon-copyright-mark"></span> <span class="branding">Rosterra</span></p>
</div>
</footer>
